footer#footer.bottomElement
  .footerFix
    .row
      .col-sm-6
        | © 2015 HEIG-VD / TWEB


script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mousescroll.js')
script(src='js/smoothscroll.js')
script(src='js/jquery.isotope.min.js')
script(src='js/jquery.inview.min.js')
script(src='js/wow.min.js')
script(src='js/main.js')
// Custom scripts
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
script(src='components/angular/angular.js')
// UI-Router
script(src='components/angular-ui-router/release/angular-ui-router.js')
// Angular chart
script(src='components/Chart.js/Chart.js')
script(src='components/angular-chart.js/dist/angular-chart.js')
// Socket IO
script(src='components/socket.io-client/socket.io.js')
script(src='components/angular-socket-io/socket.js')
// UI Bootstrap
//script(src='components/angular-bootstrap/ui-bootstrap.js')
script(src='components/angular-bootstrap/ui-bootstrap-tpls.js')
// Custom script
script(src='js/app.js')
script(src='js/script.js')


