<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Créer vos propres sondages !</h2>
                <hr class="light">
                <p class="text-faded">NorthPoll vous permet de créer des sondages rapidement et facilement, vous n'avez même pas besoin de créer un compte. Vous pouvez contrôler qui a accès à votre sondage et à quel moment. Rendez les résultats publiques ou soyez le seul à pouvoir les consulter. Créez plusieurs instances d'un même sondage pour comparer les réponses. Modifiez votre sondage en tout temps et supprimez le quand vous le désirez. </p>
                <a href={{ site.heroku }} class="btn btn-default btn-xl">Essayez maintenant</a>
            </div>
        </div>
    </div>
</section>
