<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez-nous</h2>
                <hr class="primary">
                <p>Contactez-nous ou découvrez notre travail.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href={{ site.heroku }}>
                <i class="fa fa-cloud fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Site du projet</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Contactez-nous</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p> Retrouvez-nous sur github</p>
            </a>
        </div>

    </div>
</section>
