div(ng-controller='PollCreationController', align='center')
    form
        |Nom du sondage :
        input(type='text' name='pollName')
        br
        br
        |Pseudonyme du créateur :
        input(type='text', name='creatorName')
