// Created by jermoret on 15.01.2016.
h2.section-title.text-center.wow.fadeInDown Gérer les questions

form.form-horizontal(ng-controller='manageQuestsCtrl')

  .div
    .form-inline
      .form-group
        label Modifier une question existante
        select.form-control(ng-change='selectChoice()', ng-model='select', ng-options="question as question.text for question in questions" )

      span.btn.btn-primary.pull-right(role='button', ng-click='createNewQuestion()') Créer une nouvelle question

  .form
    .form-group(ng-class="{'has-error' : !questionTextValid}")
      label.control-label Intitulé de la question
      input.form-control(type='text', placeholder='Intitulé de la question', ng-model='questionText')
      p.help-block(ng-hide='questionTextValid') Ce champ est obligatoire.
      checkbox.big-checkbox
          label
          input(type='checkbox', ng-model='isOptional')
          | question optionnelle
    .form-group(ng-class="{'has-error' : !numberOfPossibleChoicesValid}")
        label.control-label(for='maxChoices') Nombre maximum de réponses à la question que peut donner l'utilisateur
        input#maxChoices.form-control(type='number', ng-model='maxChoices', max='choices.length > 0 ? choices.length : 1', min='1')
        p.help-block(ng-hide='numberOfPossibleChoicesValid') Le nombre de choix doit être plus grand ou égal à 0 et inférieur ou égal au nombre de choix.
    .form-group(ng-repeat='choice in choices')
          label Intitulé de la réponse
          input.form-control(type='text', placeholder='Intitulé de la réponse', ng-model='choice.text')
          checkbox
            label
            input(type='checkbox', ng-model='choice.correct')
            | choix correct


  .div
      span.btn.btn-primary#actionPoll(role='button', ng-click='choices.pop()',ng-show='choices.length > 0') Supprimer un choix
      span.btn.btn-primary(role='button', ng-click="addChoice()") Ajouter un choix
      span.btn.btn-primary(role='button', ng-click="addQuestion()", ng-disabled='modify',ng-show='choices.length > 0') Ajouter la question
      span.btn.btn-primary(role='button', ng-click="modifyQuestion()", ng-disabled='!modify',ng-show='choices.length > 0') Modifier la question

  span.btn.btn-primary.pull-right#actionPoll(role='button', ng-click="backToPoll()") Retour au sondage
