//Created by jermoret on 13.01.2016.
.modal-body(style='padding:0px')
  .alert(ng-class='colorClass', style='margin-bottom:0px')
    button.close(type='button', data-ng-click='close()')
      span.glyphicon.glyphicon-remove-circle
    strong {{ msg }} !
    |  {{ txt }}

