// Created by jermoret on 13.01.2016.
// Modal pour le mot de passe
.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h4.modal-title Entrer le mot de passe
.modal-body
  form.form-inline(role='form')
  form.form-inline(role='form')
    .form-group
      label(for='pwd') Mot de passe : &nbsp;
      input#pwd.form-control(type='password', placeholder='Mot de passe', ng-model='pass')
.modal-footer
  button.btn.btn-primary(type='button', ng-click='ok()') Valider
  button.btn.btn-default(type='button', ng-click='cancel()') Close
