

// Partie contenu
section
  .container
    .section-header   
      h2.section-title.text-center.wow.fadeInDown(ng-controller='pollsController') Il y a {{ polls.length }} sondages existants
      div(ng-controller='pollsController')
        table.table.table-hover
          thead
            tr
              th Nom
              th Créateur
              th Contrôles
            tbody(ng-repeat='poll in polls')
              tr.clicker
                th {{poll.name}} &nbsp;
                  // Selection du badge selon l'état du sondage
                  span.label.label-success(ng-if='poll.state=="open"') Ouvert
                  span.label.label-info(ng-if='poll.state=="draft"') Initialisé
                  span.label.label-danger(ng-if='poll.state=="closed"') Fermé
                td {{poll.creator}}
                td
                  button.btn.btn-primary(type="button", ng-click='openModal(poll.id, instance.id, "editPoll")') Modifier
              tr.clicker(ng-repeat='instance in poll.instances')
                td {{instance.name}}

                td(colspan='2')
                  span#polls_controls
                    //button.btn.btn-primary(type="button", ui-sref='answerInstancePoll({instId:instance.id, pollId:poll.id})') Participer
                    button.btn.btn-primary(type="button", ng-click='openModal(poll.id, instance.id, "answerInstancePoll")') Participer
                    button.btn.btn-primary(type="button", ui-sref='statsInstancePoll({instId:instance.id, pollId:poll.id})', ng-disabled='!poll.public_results') Statistiques




