// Created by jermoret on 01.12.2015.
h2(ng-controller='statController')
  span NorthPoll
  |  Ask and answer !
  br
  br
  span Statistiques
  br
  |  Total
  span  {{ total }}
  br
  |  Recent
  span  {{ recent }}
  br
  |  Open
  span  {{ open }}
