// Created by jermoret on 02.12.2015.

include statsApp.jade

section#main-slider
  .owl-carousel
    .item(style='background-image: url(images/slider/background4.jpg);')
      .slider-inner
        .container
          .row
            .col-sm-6
               .carousel-content
                  include statsApp.jade

