
h2.welcome(style='color: #545454;')(ng-controller='statsAppController')
      NorthPoll
      |  Gardez vos réponses au frais !
      br
      br
      span(style='color: #1899C4;') {{ total }}
      |  sondages
      span(style='color: #1899C4;')  existants
      br
      span(style='color: #1899C4;')  {{ recent }}
      |  sondages
      span(style='color: #1899C4;')  récents
      br
      span(style='color: #1899C4;')  {{ open }}
      |  sondages
      span(style='color: #1899C4;')  ouverts 
      
      button.btn.btn-primary.btn-lg(href="#answer" style="margin-top: -10px;" class="btn pull-right", ng-click="goToPolls()") Explorer !


