include ./includes/head.jade
body(ng-app='northPoll')
    include ./includes/header.jade
    link(href='css/stat.css', rel='stylesheet')
    // Full Width Image Header
    header.header-image
      .headline
        div.container(ui-view)
          include ./partials/poll.jade

          .container
             h2 Sondage
             h3 Sondages existants
             
             div(ng-controller='pollsController')
               p Il y a {{ polls.length }} sondages.
               ul
                  li(ng-repeat="poll in polls") {{poll.name}}
                    a(ng-href="http://api/{{poll.name}}")    {{poll.description}}
            
        include ./includes/footer.jade

