include ./includes/head.jade

body#home.homepage(ng-app='northPoll')
    header#header

      // Barre de navigation
      nav#main-menu.navbar.navbar-default.navbar-fixed-top(role='banner')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href='#main-slider')

              img(src='images/logo2.png', alt='logo')
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.scroll
                a(ui-sref='listPolls') Sondages
              li.scroll
                a(href='#ask', ui-sref='createPoll') Créer un sondage
              li.scroll
                a(href='http://jurporan.github.io/Teaching-HEIGVD-TWEB-2015-Project/', target='_blank') Page du produit
     
       section#answer   
        .container
          .section-header
            div(ui-view)
          .row

     //  include ./includes/footer.jade
    
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mousescroll.js')
script(src='js/smoothscroll.js')
script(src='js/jquery.isotope.min.js')
script(src='js/jquery.inview.min.js')
script(src='js/wow.min.js')
script(src='js/main.js')
// Custom scripts
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
script(src='components/angular/angular.js')
// UI-Router
script(src='components/angular-ui-router/release/angular-ui-router.js')
// Angular chart
script(src='components/Chart.js/Chart.js')
script(src='components/angular-chart.js/dist/angular-chart.js')
// Socket IO
script(src='components/socket.io-client/socket.io.js')
script(src='components/angular-socket-io/socket.js')
// UI Bootstrap
//script(src='components/angular-bootstrap/ui-bootstrap.js')
script(src='components/angular-bootstrap/ui-bootstrap-tpls.js')
// Custom script
script(src='js/app.js')
script(src='js/script.js')
