include ./includes/head.jade
  body
    include ./includes/header.jade
    // Full Width Image Header
    header.header-image
      .headline
        .container
          h2 QPolls
    // Page Content
    .container
      hr.featurette-divider
      // First Featurette
      #about.featurette
        img.featurette-image.img-circle.img-responsive.pull-right(src='http://placehold.it/500x500')
        |             
        h2.featurette-heading
          | This First Heading
          span.text-muted Will Catch Your Eye
        |             
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      
      include ./includes/footer.jade
