include ./includes/head.jade
body#home.homepage(ng-app='northPoll')
  header#header
    nav#main-menu.navbar.navbar-default.navbar-fixed-top(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html')
            img(src='images/logo2.png', alt='logo')
        .collapse.navbar-collapse.navbar-right
          ul.nav.navbar-nav
            li.scroll
              a(href='#answer') Sondages
            li.scroll
              a(href='#ask') Créer un sondage
            li.scroll
              a(href='#about') A propos
    section#main-slider
      .owl-carousel
        .item(style='background-image: url(images/slider/background1.jpg);')
          .slider-inner
            .container
              .row
                .col-sm-6
                  .carousel-content
                    h2
                      span NorthPoll
                      |  Ask and answer !
        // /.item
        .item(style='background-image: url(images/slider/background2.jpg);')
          .slider-inner
            .container
              .row
                .col-sm-6
                  .carousel-content
                    h2(ng-controller='statController')
                      span Statistiques
                      div Total
                        {{total}}
                      div Recent
                        {{recent}}
                      div Open
                        {{open}}

    section#answer
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Sondages
          p.text-center.wow.fadeInDown
            | Sondages existants
            
            div(ng-controller='pollsController')
               p Il y a {{ polls.length }} sondages.
               ul
                  li(ng-repeat="poll in polls") {{poll.name}}
                    a(ng-href="http://api/{{poll.name}}")    {{poll.description}}

            
            
        .row
    section#about
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown A propos
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
        
    include ./partials/create_poll.jade
    include ./partials/answer.jade
    include ./includes/footer.jade
