include ./includes/head.jade
  body
    include ./includes/header.jade
    link(href='css/stat.css', rel='stylesheet')
    // Full Width Image Header
    header.header-image
      .headline
        .container
          h2 QPolls
          h3 Just some statistics
          
          table.statTable
            tr
              td Tot polls:
              td#nbTotal.statTableNumber -
            tr
              td Tot polls week:
              td#nbThisWeek.statTableNumber -
            tr
              td Tot polls open:
              td#nbOpen.statTableNumber -

        include ./includes/footer.jade
        script(src='js/stat.js')
