include ./includes/head.jade
body
    include ./includes/header.jade
    link(href='css/stat.css', rel='stylesheet')
    // Full Width Image Header
    header.header-image
      .headline
        .container
          h2 QPolls
          h3 Just some statistics
          
          table.statTable(ng-controller="statController")
            tr
              td Tot polls (open/closed):
              td#nbTotal.statTableNumber {{ total }}
            tr
              td Tot polls week:
              td#nbThisWeek.statTableNumber {{ recent }}
            tr
              td Tot polls open:
              td#nbOpen.statTableNumber {{ open }}

          .container
             h2 Sondage
             h3 Sondages existants
             
             div(ng-controller='pollsController')
               p Il y a {{ polls.length }} sondages.
               ul
                  li(ng-repeat="poll in polls") {{poll.name}}
                    a(ng-href="http://api/{{poll.name}}")    {{poll.description}}
            
        include ./includes/footer.jade
