include ./includes/head.jade
body(ng-app='northPoll')
    include ./includes/header.jade
    link(href='css/stat.css', rel='stylesheet')
    // Full Width Image Header
    header.header-image
      .headline
        div.container(ui-view)
          include ./partials/poll.jade

        include ./includes/footer.jade

